# Editors / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/

# C / build output
*.o
*.a
*.so

# Scala / sbt
target/
project/target/

# VHDL simulation output
*.ghw
*.cf
